.container {
  margin: 20px auto;
  margin-top: 115px;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FF6666;
  height: 100px;
}

#signout {
  position: absolute;
  right: 25px;
  top: 25px;
}

#signin {
  position: absolute;
  right: 25px;
  top: 25px;
}

#home_signin {

}

#tweet_now {
  position: absolute;
  top: 25px;
  left: 25px;
}
