<div class="container homepage">
  <h1 class ='hometitle'>Welcome to Tweet Now!</h1>

  <p>You can sign in on this app to write tweets. Construction of the ability to schedule future tweets is in progress.</p>


<!-- <a href="/request"><button id='home_signin'>Sign in with Twitter to start tweeting</button></a> -->

</div>
