<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class='top-header'>
    <% if session[:token] %>
    <a href="/signout"><button id='signout'>sign out</button></a>
    <!-- <a href="/auth"><button id='tweet_now'>Tweet now!</button></a> -->
    <!-- <a href="/future_tweet"><button id='schedule_tweet'>Schedule a tweet for the future!</button></a> -->

    <% else %>
    <a href="/request"><button id='signin'>Sign in with Twitter</button></a>
    <% end %>

  </div>
  <%= yield %>
</body>
</html>
